@import url('./reset.scss');

.main_loggedIn {
  width: 100svw;
  height: 100svh;
  display: grid;
  grid-template-areas:
    'h h h'
    'c c c'
    'c c c';
  grid-template-columns: max-content 1fr 1fr; 
  grid-template-rows: 10% 70% 20%;
	overflow: hidden;
}

.main_loggedOut {
	width: 100vw;
  height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}