:root {
	--index: calc(1vh + 1vw);
}


 .light{
	--one-main-bg-color: #2497D1;
	--two-main-bg-color:  #FFF;
	--massage-bg-color: #F0F8FF;
	--font-color: #000;
}


 .dark{
	--one-main-bg-color: #005079;
	--two-main-bg-color:  #000;
	--massage-bg-color: #333;
	--font-color: #FFF;
}